<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style/footer.css'%}">
        <title>Главная</title>
    </head>

<footer class="site-footer">
    <div class="footer-navigation">

        <div class="footer-left">
            <img src="https://shop.rea.ru/image/catalog/gerb_on_black.png" alt="">
            <div class="line"></div>
        </div>
        
        <div class="menu-footer-navigation-container">

            <div class="footer-text">
                <p>Сувенирная продукция Российского экономического <br>университета имени Г.В. Плеханова</p>
            </div>

            <ul class="footer-menu">

                <li class="menu-item">
                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a href="">Главная</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="">Новинки</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="">Каталог</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="">О нас</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="">Оплата и доставка</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="">Блог</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item">
                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a href="">Промокоды и Купоны</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="">Моя учетная запись</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="">Оформить заказ</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="">Политика обработки данных</a>
                        </li>
                    </ul>
                </li>

                <li class="menu-item">
                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a href="">+7 (980)186-96-79</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="">E-mail: isip_i.m.grosul@mpt.ru</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="">г. Москва, ул. Нахимовский пр-кт, д.21</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</footer>