<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/delivery.css'%}">
    <title>Оплата и Доставка</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <div class="container">
        <nav class="main-site-nav">
            <span>
                <a href="{% url 'index' %}">Главная</a>
                <p>→ Оплата и доставка</p>
            </span>
        </nav>

        <div class="products-header">
            <h1>Оплата и доставка</h1>
        </div>

        <h2>Способы доставки</h2>
        <p><strong>По Москве — от 500 руб.</strong></p>
        <p>Доставка курьером в пределах МКАД с 13:00 до 22:00. Оплата производится наличными курьеру при получении товара, или же картой через его заказ. На акционные товары стоимость доставки может изменяться. Плозорочную уточняйте менеджеров. Стоимость доставки указана по Москве в пределах МКАД, об остальном уточняйте.</p>

        <p><strong>По Московской области — от 800 руб.</strong></p>
        <p>Доставка в пределах 10–15 км за пределами МКАД. Оплата осуществляется по факту получения товара наличными курьеру. Стоимость доставки может изменяться в зависимости от индивидуального.</p>

        <p><strong>По России — от 450 руб.</strong></p>
        <p>Оплата осуществляется только через почту у территории России. Доставка осуществляется по адресу, указанному в заказе, и по почтовому адресу. После отправки вы получите трек-номер для отслеживания заказа на сайте Почты России. Средний срок доставки 14–18 дней с момента отправки.</p>

        <h2>Способы оплаты</h2>
        <p><strong>Наличный расчет</strong></p>
        <p>При оплате заказа в нашем офисе, если есть возможность выбрать доставку курьером по Москве. Вы можете оплатить покупку наличными при получении заказа.</p>

        <p><strong>Онлайн-платеж через сайт</strong></p>
        <p>При оформлении заказа на нашем сайте, вы можете выбрать один из способов оплаты:</p>
        <ul>
            {% load static %}
            <li><img src="{% static 'image/icon/paypal.jpg'%}" alt="PayPal"> PayPal</li>
            <li><img src="{% static 'image/icon/master.jpg'%}" alt="MasterCard"> MasterCard</li>
            <li><img src="{% static 'image/icon/visa.jpg'%}" alt="Visa"> VISA</li>
            <li><img src="{% static 'image/icon/yandex.jpg'%}" alt="ЮMoney"> ЮMoney</li>
            <li><img src="{% static 'image/icon/sber.jpg'%}" alt="SberPay"> SberPay</li>
        </ul>

        <h2>Возврат заказа</h2>
        <p>Индивидуальные заказы и заказы по акции возврату и обмену не подлежат. Если нам была допущена ошибка или товар оказался бракованным, то вы можете обменять или вернуть вещь в течение 14 дней с момента покупки, при условии сохранения товарного вида. При возникновении вопросов все всегда можно связаться с нами по телефону или написать на почту магазина, чтобы мы помогли разобраться с проблемой и решить ее.</p>
        <p>Если вам не подошли размер, возврат и обмен невозможен. В магазине "Кирт@РЭУ" всегда можно оценить качество нашей продукции и примерять перед тем, как заказать нужный вам размер.</p>
    </div>

    {% include 'includes/footer.html' %}
</body>
</html>